html {
  margin: 0;
}

body {
  margin: auto;
  text-align: center;
  background-color: lightskyblue;
  font-family: monospace;
}

h1 {
  font-family: monospace;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
}

label {
  margin-right: 20px;
}

.levelDiv {
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  font-size: 20px;
}

p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  font-size: 20px;
}

.panel {
  padding-top: 10px;
  margin: auto;
  background-color: white;
  height: 60px;
  margin-top: 0;
}

.timer,
.bestScore {
  display: inline;
  font-size: 18px;
  /* margin-right: 120px; */
  height: 40px;
  width: 40px;
}
.flagCounter,
.livesCounter,
.hintCounter,
.safeCounter {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  font-size: 18px;
  /* margin-right: 120px; */
  height: 40px;
  width: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.gameMode {
  padding-top: 5px;
  padding-bottom: 10px;
  display: inline-block;
  font-size: 18px;
  /* margin-right: 120px; */
  height: 20px;
  /* width: 100px; */
  padding-left: 25px;
  padding-right: 25px;
  color: #103059;
  font-weight: bold;
}

.restartBtn,
.undoBtn,
.safeCheckBtn,
.hintsBtn,
.manuallyBtn,
.sevenBoom {
  margin-top: 10px;
  background-color: none;
  border: 0;
  padding-left: 2%;
  padding-right: 2%;
  /* margin-left: 100px;
  margin-right: 0px; */
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  color: orange;
  border-radius: 10%;
}

.safeCheckBtn span {
  color: black;
  font-size: 18px;
  font-family: fantasy;
}

.board-container {
  padding-top: 110px;
  background-image: linear-gradient(white, lightskyblue);
}

table {
  margin: auto;
}

td {
  height: 35px;
  width: 35px;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;
  border-radius: 0px;
  border: 1px solid #3866a3;
  /* display: inline-block; */
  cursor: pointer;
  color: #14396a;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
}
td:hover {
  background: linear-gradient(to bottom, #94aabf 5%, #405360 100%);
}

.showCell {
  background: lightcyan;
}

.hideCell {
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
}

.markCell {
  background: red;
}

.manuallyMarkedMine {
  background: lightgreen;
}

footer {
  padding-top: 10px;
  background-color: lightskyblue;
  font-family: fantasy;
  font-size: 18px;
}
